{% extends "base.html" %}
{% load airports_extras %}
{% block head_override %}
<script type="text/javascript">
  function mapInitialize() {
    var latlng = new google.maps.LatLng({{ object.point.y }}, {{ object.point.x }});
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
    var marker = new google.maps.Marker({
          position: latlng, 
          map: map, 
          title:"{{ object.location_id }}"
      });
  }

</script>
{% endblock head_override %}

{% block body_override %}onload="mapInitialize()"{% endblock body_override %}

{% block content %}
<h1>{{ object.facility_name }}</h1>
Elevation: {{ object.elevation_msl }} MSL<br>
Activated: {{ object.activation_date }}<br>
CTAF: {{ object.ctaf }}<br>
Landing Fees: {{ object.landing_fees|yesno }}<br>
Aircraft on-field:
<ul>
    <li>Singles: {{ object.singles_based }}</li>
    <li>Multis: {{ object.multis_based }}</li>
    <li>Jets: {{ object.jets_based }}</li>
    <li>Helicopters: {{ object.helicopters_based }}</li>
    <li>Gliders: {{ object.gliders_based }}</li>
    <li>Military: {{ object.military_based }}</li>
    <li>Ultralights: {{ object.ultralights_based }}</li>
</ul>
<br>
Average daily airport operations as of {{object.operations_ending_date}}
<ul>
    <li>Commercial: {{object.commercial_services_operations|perday}}</li>
    <li>Commuter: {{object.commuter_services_operations|perday}}</li>
    <li>Air taxi: {{object.air_taxi_operations|perday}}</li>
    <li>GA Local: {{object.ga_local_operations|perday}}</li>
    <li>GA Itinerant: {{object.ga_itinerant_operations|perday}}</li>
    <li>Military: {{object.military_operations|perday}}</li>
</ul>
<br>
<a href="http://www.navmonster.com/apt/{{object.location_identifier}}">Navmonster for {{object.location_identifier}}</a>
<div id="map_canvas" style='width:600px;height:400px;'></div>
{% endblock content %}
