{% extends "base.html" %}

{% block content %}
    {% if object_list %}
    <table border='0' cellspacing='6' cellpadding='0'>
        <tr>
            <th>ID</th>
            <th>Fix Type</th>
            <th>ARTCC</th>
        </tr>
    {% for object in object_list %}
        <tr>
            <td><a href='{{ object.get_absolute_url }}'>{{ object.id }}</a></td>
            <td>{{ object.fix_type }}</td>
            <td>{{ object.artcc }}</td>
        </tr>
    {% endfor %}

    {% if is_paginated %}
        <tr>
            <td colspan='5' align='right'>
      {% if page_obj.has_previous %}
        <a href='?page={{ page_obj.previous_page_number }}'>&lt; Prev</a>&nbsp;&nbsp;
      {% endif %}
      Page {{ page }} of {{ paginator.num_pages }}
      {% if page_obj.has_next %}
        &nbsp;&nbsp;<a href='?page={{ page_obj.next_page_number }}'>Next &gt;</a>
      {% endif %}
            </td>
        </tr>
    {% endif %}
    </table>

    {% endif %}
{% endblock content %}
